.scrollDownAnim {
    width: 45px;
    height: 70px;
    border: 2px solid #fff;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}

.scrollDownAnim>span {
    background-color: #fff;
    width: 5px;
    height: 10px;
    border-radius: 30px;
    margin-top: 10px;
    position: relative;
}

.scrollDownAnim>span::before,
.scrollDownAnim>span::after {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    border: none;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    transform: translateY(-10px) rotate(135deg);
    left: -6px;
    margin-top: 10px;
    opacity: 0;
    animation: ani 1.8s infinite linear;
}

.scrollDownAnim>span::after {
    animation-delay: .8s;
}

@keyframes ani {
    0% {
        margin-top: 10px;
        opacity: 0;
    }

    50% {
        margin-top: 25px;
        opacity: 1;
    }

    100% {
        margin-top: 40px;
        opacity: 0;
    }
}