* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Usual, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
}

:root {
    --primary-color: red;
    --primary-hover-color: #d90000;
}
.bg-none{
    background: none;
}
.text-primary {
    color: var(--primary-color) !important;
}
.bg-primary{
    background-color: var(--primary-color) !important;
}
.text-dark {
    color: #0a0a0a !important;
}

.section_title {
    font-size: 42px;
    font-weight: 700;
}
@media screen and (max-width: 768px) {
    .section_title{
        font-size: 36px;
    }
}

.section_sub_title {
    font-size: 22px;
    display: block;
    line-height: 1.6;
    font-weight: 600;
}

.fs-18 {
    font-size: 18px;
}

.btn_primary {
    background-color: var(--primary-color);
    color: #fefefe;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    padding: 0 1.5em;
    line-height: 48px;
    font-size: 16px;
    transition: .3s all ease-in-out;
}

.btn_primary:hover {
    color: #fff;
    background-color: var(--primary-hover-color);
}

.btn_outline_primary {
    background-color: none;
    color: #fefefe;
    border: 2px solid #fefefe;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    padding: 0 1.5em;
    line-height: 48px;
    font-size: 16px;
    transition: .3s all ease-in-out;
}

.btn_outline_primary:hover {
    color: #111;
    background-color: #fefefe;
}
/* NavBar */
.navBar{
    background-color: #ff0032;
    position: sticky;
    z-index: 999;
    top: 0;
}
.navbar_logo{
    max-width: 120px;
    height: auto;
}
.fs-30{
    font-size: 30px;
    color: #fff;
}
.custom_dropdown > .dropdown_menu{
    display: none;
}
.custom_dropdown:hover .dropdown_menu{
    display: block;
    top: 100%;
    left: 0;
}
.custom_dropdown .dropdown_menu{
    background-color: #ff0032;
    border: 2px solid #fff;
    list-style: none;
    padding: 15px;
    min-width: 200px;
}
.dropdown_menu .dropdown_item{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    transition: .3s all ease-in-out;
}
.dropdown_menu .dropdown_item:hover{
    border-bottom: 1px solid #fff;
}

/* side bar menu */
.sidebar_menu{
    list-style: none;
    padding-left: 0px;
}
/* side bar menu */
/* NavBar */
/* home banner */
.home_banner{
background-color: #ff0032;
}
/* home banner */
/* our-mission */
.our_mission {
    background-image: url('../images/our-mission-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.our_mission .discription {
    font-size: 16px;
    line-height: 1.6;
}

.our_mission .social_links,
.yellow_bg_section .social_links {
    text-transform: uppercase;
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

/* our-mission */
/* about section */
.about_section {
    background-color: #350f66;
}

/* about section */
/* national work */
.national_work {
    background-color: #ff00ea;
}

/* national work */
/* block section */
.block_section {
    background-color: #350f66;
}

.bg_blue_block_section {
    background-color: #1059f4;
}

.block_card {
    overflow: hidden;
}

.block_title {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 600;
}

.block_discription {
    font-size: 16px;
}

.block_image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    min-height: 180px;
    width: 100%;
}

.card {
    border-radius: 0px;
}

.block_1 {
    background-image: url('../images/block/block-1.jpg');
}

.block_2 {
    background-image: url('../images/block/block-2.jpg');
}

.block_3 {
    background-image: url('../images/block/block-3.jpg');
}

.block_4 {
    background-image: url('../images/block/block-4.jpg');
}

.block_5 {
    background-image: url('../images/block/block-5.jpg');
}

.block_6 {
    background-image: url('../images/block/block-6.jpg');
}

/* block section */
/* success stories */
.success_stories .image_bg {
    background-image: url('../images/success_stories.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 400px;
}

.success_stories .content {
    background-color: #1059f4;
}

/* success stories */
/* yellow background */
.yellow_bg_section {
    background-color: #feae01;
}

/* yellow background */
/* latest */
.section_latest .read_more {
    font-weight: 700;
    text-decoration: none;
    color: #000;
    display: inline-block;
}

.section_latest .date {
    font-size: 14px;
    font-weight: 600;
}

/* latest */
/* footer */
.footer {
    background-color: #111;
}

.footer .detailed {
    color: #646464;
    font-size: 14px;
}

/* footer */