@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

:root {
    --primary-color: rgb(255, 0, 0);
    --primary-hover-color: rgb(217, 0, 0);
}

.bg-none {
    background: none;
}

.text-primary {
    color: var(--primary-color) !important;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.text-dark {
    color: rgb(10, 10, 10) !important;
}

.section_title {
    font-size: 42px;
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .section_title {
        font-size: 36px;
    }
}

.section_sub_title {
    font-size: 22px;
    display: block;
    line-height: 1.6;
    font-weight: 600;
}

.fs-18 {
    font-size: 18px;
}

.btn_primary {
    background-color: var(--primary-color);
    color: rgb(254, 254, 254);
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    padding: 0 1.5em;
    line-height: 48px;
    font-size: 16px;
    transition: .3s all ease-in-out;
}

.btn_primary:hover {
    color: rgb(255, 255, 255);
    background-color: var(--primary-hover-color);
}

.btn_outline_primary {
    background-color: none;
    color: rgb(254, 254, 254);
    border: 2px solid rgb(254, 254, 254);
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    padding: 0 1.5em;
    line-height: 48px;
    font-size: 16px;
    transition: .3s all ease-in-out;
}

.btn_outline_primary:hover {
    color: rgb(17, 17, 17);
    background-color: rgb(254, 254, 254);
}

/* NavBar */
.navBar {
    background-color: rgb(255, 0, 50);
    position: sticky;
    z-index: 999;
    top: 0;
    padding: 1,5rem 0px;
}

.navbar_logo {
    max-width: 200px;
    height: auto;
}

.fs-30 {
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.custom_dropdown>.dropdown_menu {
    display: none;
}

.custom_dropdown:hover .dropdown_menu {
    display: block;
    top: 100%;
    left: 0;
}

.custom_dropdown .dropdown_menu {
    background-color: rgb(255, 0, 50);
    border: 2px solid rgb(255, 255, 255);
    list-style: none;
    padding: 15px;
    min-width: 200px;
}

.dropdown_menu .dropdown_item {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    transition: .3s all ease-in-out;
}

.dropdown_menu .dropdown_item:hover {
    border-bottom: 1px solid rgb(255, 255, 255);
}

/* side bar menu */
.sidebar_menu {
    list-style: none;
    padding-left: 0px;
}

/* side bar menu */
/* NavBar */
/* home banner */
.home_banner {
    background-color: rgb(255, 0, 50);
}

/* home banner */
/* our-mission */
.our_mission {
    background-image: url('../images/our-mission-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    z-index: 1;
}

.our_mission::after {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    content: '';
    inset: 0;
    z-index: -1;
}

.our_mission .discription {
    font-size: 16px;
    line-height: 1.6;
}

.our_mission .social_links,
.yellow_bg_section .social_links {
    text-transform: uppercase;
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

/* our-mission */
/* about section */
.about_section {
    background-color: rgb(53, 15, 102);
}

/* about section */

/* block section */
.block_section {
    background-color: rgb(53, 15, 102);
}

.bg_blue_block_section {
    background-color: rgb(16, 89, 244);
}

.block_card {
    overflow: hidden;
}

.block_title {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 700;
}

.block_discription {
    font-size: 16px;
}

.block_image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    min-height: 180px;
    width: 100%;
}

.card {
    border-radius: 0px;
}

.block_1 {
    background-image: url('../images/block/block-1.jpg');
}

.block_2 {
    background-image: url('../images/block/block-2.jpg');
}

.block_3 {
    background-image: url('../images/block/block-3.jpg');
}

.block_4 {
    background-image: url('../images/block/block-4.jpg');
}

.block_5 {
    background-image: url('../images/block/block-5.jpg');
}

.block_6 {
    background-image: url('../images/block/block-6.jpg');
}

/* block section */
/* success stories */
.success_stories .image_bg {
    background-image: url('../images/success_stories.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 400px;
}

.success_stories .content {
    background-color: rgb(16, 89, 244);
}

/* success stories */
/* yellow background */
.yellow_bg_section {
    background-color: rgb(254, 174, 1);
}

/* yellow background */

/* footer */
.footer {
    background-color: rgb(17, 17, 17);
}

.footer .detailed {
    color: rgb(100, 100, 100);
    font-size: 14px;
}

/* footer */